.menu-view{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 2fr;

    & > .button-difficult{
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-self: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        & > button{
            max-width: 250px;
            width: 100%;
            padding: 15px;
            border-radius: 15px;
        }
    }

    & > .cover{
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    & > .title{
        grid-column: 2;
        font-size: 50px;
        width: 100%;
        text-align: center;
    }
    
    
    @media screen and (max-width:520px) {
        grid-template-columns: 1fr;
        .box-progress{
            display: none;
        }
        .title{
            grid-column: 1;
        }
    }

}
