.flex-items{
  margin-top: 133px;
  display: flex;
  justify-content: space-around;

}
.title{
    font-size: 90px;
    padding-bottom: 93px;
}

.button-difficult{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 170px;
    & button{
        font-size: 48px;
        width: 100%;
        padding: 19px 0px 19px 0px;
        margin-bottom: 62px;
        border-radius: 32px;
    }
}
@media (max-width: 540px) {
    .flex-items{
        flex-direction: column;
    }
    .button-difficult{
        width: 100%;
    }
    .title{
        font-size: 60px;
    }
}