.grid-item-partida{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:none;
    justify-items: center;
    gap: 20px;

    @media screen and (max-width:650px) {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content;
        .box-progress{
            display: none;
        }
    }
}

.partida-view{
   display: flex;
   flex-direction: column;
}
