

@mixin button($bgColor, $color, $activeBgColor, $activeColor) {
    background-color:$bgColor;
    color: $color;
    cursor:pointer;
    transition: color .3s, background-color .3s;
    font-family: var(--font-anton);
    &:hover{
        background-color:$activeBgColor;
        color: $activeColor;
    }
}

.primary-button{
    @include button( 
        var(--primary), 
        var(--on-primary), 
        var(--primary-variant), 
        var(--on-primary-variant)
        );
}

.border-full{
    border-radius: 99999px;
}
.border-medium{
    border-radius: 32px;
}

.primary-button-bordered{
    @extend .primary-button;
    border: solid 2px var(--primary-variant);
}