.letra-abecedario{
    min-width: 40px;
    min-height: 40px;
    pointer-events: all;
    &.disabled{
        background-color: var(--on-disabled);
        color: var(--disabled);
        pointer-events: none;
    }
}