
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary:#FFF;
    --on-primary:#000;
    --primary-variant:#0075FF;
    --on-primary-variant:#FFF;
    --disabled:#5C5C5C;
    --on-disabled:#BDBDBD;
}

body{
    font-family: var(--font-roboto);
    background-image: url('../../assets/images/background.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button{
    border: none;
    outline: none;
}


.titulo{
    font-family: var(--font-anton);
}

.primary{
    color: var(--primary);
}

.bg-primary{
    background-color: var(--primary);
}


.on-primary{
    color: var(--on-primary);
}

.bg-on-primary{
    background-color: var(--on-primary);
}


.primary-variant{
    color: var(--primary-variant);
}


.bg-primary-variant{
    background-color: var(--primary-variant);
}

.on-primary-variant{
    color: var(--on-primary-variant);
}

.bg-on-primary-variant{
    background-color: var(--on-primary-variant);
}

.main-box{
    background-color: var(--primary);
    box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 8px;
}


// padding

.p-1{
    padding: 5px;
}
.p-2{
    padding: 10px;
}
.p-3{
    padding: 15px;
}
.p-4{
    padding: 20px;
}

// margin

.m-1{
    margin: 5px;
}
.m-2{
    margin: 10px;
}
.m-3{
    margin: 15px;
}
.m-4{
    margin: 20px;
}


// flex

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.center{
    justify-content: center;
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}


.text{
    &-sm {
        font-size: 12px;
    }
    &-m {
        font-size: 18px;
    }
    &-lg {
        font-size: 26px;
    }
    &-xl {
        font-size: 30px;
    }

    &-2xl {
        font-size: 35px;
    }

    &-center{
        text-align: center;
    }

}
